.has-fade {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 1;
  }
}

// helper classes
.fade-in {
  animation: fadeIn 200ms ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 200ms ease-in-out forwards;
}
